# Virtual Environments
mlops_venv/
venv_mlflow/
venv/
.env/
mlops_venv
# MLflow
mlruns/
mlflow.db

# Jupyter Notebooks
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# Data (Optional: keeping small CSVs, but usually ignored if very large)
# PJME_hourly.csv
